/docker export-ignore
/test export-ignore
/tools export-ignore
/.idea export-ignore
/.cache export-ignore
/.github export-ignore
/.logs export-ignore
/.phive export-ignore

/.gitignore export-ignore
/.gitattributes export-ignore
/.env.dist
/docker-compose.yml export-ignore
/infection.json.dist export-ignore
/psalm.xml export-ignore

*.php text=auto eol=lf
*.sh text=auto eol=lf
/run text=auto eol=lf
