/docker export-ignore
/test export-ignore
/tools export-ignore
/.idea export-ignore
/.cache export-ignore
/.github export-ignore
/.logs export-ignore

/.gitignore export-ignore
/.gitattributes export-ignore
/.env.dist
/docker-compose.yml export-ignore
/infection.json.dist export-ignore
/phive.xml export-ignore
/psalm.xml export-ignore
